canvas{
	display: none;
}

.absolute {
	
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
				
}
			
#render {
	width: 150px;
	height: 100px;
	border: 2px solid black;
	margin-left: 100px;
}
			
#cyoa {
			
	width: 150px;
	height: 100px;
	border: 2px solid black;
	margin-left: -100px;
}
			
#normal {
	display: none;
}
			
#copy {
	display: none;
}